<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level Selection</title>
</head>
    <body>
        <h1>Levels</h1>
        <div th:each="level : ${level_selection}">
            <p><b>Level name:</b> <span th:text="${level.level_name}"></span></p>
            <p><b>Description:</b> <span th:text="${level.description}"></span></p>
            <hr>
        </div>
<!--        <script src="level_selection.js"></script>-->
    </body>
</html>